<br>
<br>
<br>

<h3>
    Sights
</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Description</th>
        <th>Description</th>
        <th>Description</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.sightname}}</td>
        <td>{{this.sighturl}}</td>
        <td>{{this.sightdiscription}}</td>
        <td>{{this.sightlongitude}}</td>
        <td>{{this.sightlatitude}}</td>
        

    </tr>
    {{/each}}
    
    
    


</table>

